*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1380px;
    margin: 0 auto;
    padding: 0 20px;
}
ul,
li,
a,
input, 
button{
    list-style: none;
    text-decoration: none;
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
}