* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 20px;
}

ul,
li,
a,
input,
button {
  list-style: none;
  text-decoration: none;
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
}

.nav_parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 55px 0;
}
.nav_parent ul {
  display: flex;
  gap: 25px;
}
.nav_parent ul .navbar_link {
  color: #263238;
  font-size: 20px;
  font-weight: 500;
}
.nav_parent .navbar_btn {
  color: #000;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  border-radius: 5px;
  border: 2px solid #263238;
  padding: 17px 57px;
}

.none {
  font-size: 30px;
  color: #263238;
  display: none;
}

@media screen and (max-width: 990px) {
  .nav_parent {
    padding-top: 25px;
  }
  .nav_parent ul {
    display: flex;
    gap: 25px;
  }
  .nav_parent ul .navbar_link {
    font-size: 16px;
  }
  .nav_parent .navbar_btn {
    font-size: 18px;
    padding: 12px 40px;
  }
}
@media screen and (max-width: 770px) {
  .nav_parent {
    padding-top: 25px;
  }
  .nav_parent ul {
    display: none;
  }
  .nav_parent .block {
    display: none;
  }
  .nav_parent .none {
    display: block;
  }
}
.hero_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero_header .header_info h1 {
  color: #000;
  font-size: 64px;
  font-weight: 600;
  line-height: 80px; /* 125% */
  max-width: 380px;
}
.hero_header .header_info p {
  color: #8F95A5;
  font-size: 24px;
  font-weight: 400;
  max-width: 550px;
  padding: 40px 0 61px;
}
.hero_header .header_info button {
  padding: 32px 117px;
  font-size: 36px;
  border-radius: 15px;
}

@media screen and (max-width: 990px) {
  .hero_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hero_header .header_info h1 {
    font-size: 48px;
    line-height: 64px;
  }
  .hero_header .header_info p {
    font-size: 20px;
    font-weight: 400;
    max-width: 550px;
    padding: 27px 0 33px;
  }
  .hero_header .header_info button {
    padding: 22px 58px;
    font-size: 22px;
  }
  .hero_header .header_img img {
    width: 460px;
  }
}
@media screen and (max-width: 770px) {
  .hero_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hero_header .header_info h1 {
    font-size: 36px;
    line-height: 45px;
  }
  .hero_header .header_info p {
    font-size: 16px;
    font-weight: 400;
    max-width: 550px;
    padding: 25px 0 32px;
  }
  .hero_header .header_info button {
    padding: 19px 48px;
    font-size: 18px;
  }
  .hero_header .header_img img {
    width: 350px;
  }
}
@media screen and (max-width: 630px) {
  .hero_header {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .hero_header .header_info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero_header .header_info h1 {
    font-size: 34px;
    line-height: 45px;
    text-align: center;
    max-width: 500px;
  }
  .hero_header .header_info p {
    font-size: 16px;
    font-weight: 400;
    max-width: 550px;
    padding: 25px 0 32px;
    text-align: center;
  }
  .hero_header .header_info button {
    padding: 24px 101px;
    font-size: 18px;
  }
  .hero_header .header_img img {
    width: 420px;
  }
}
@media screen and (max-width: 400px) {
  .hero_header {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .hero_header .header_info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero_header .header_info h1 {
    font-size: 24px;
    line-height: 36px;
  }
  .hero_header .header_info p {
    font-size: 16px;
    font-weight: 400;
    max-width: 550px;
    padding: 20px 0 32px;
    text-align: center;
  }
  .hero_header .header_info button {
    padding: 18px 101px;
    font-size: 14px;
  }
  .hero_header .header_img img {
    width: 300px;
  }
}
.section_title h2 {
  color: #000;
  font-size: 48px;
  font-weight: 600;
  line-height: 80px; /* 166.667% */
  text-align: center;
  margin: 103px 0 96px;
}

.section_cards {
  margin-bottom: 100px;
  display: grid;
  grid-template-areas: "card1 card2 card3" "card1 card4 card4";
  gap: 18px;
  flex-wrap: wrap;
}
.section_cards .card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  background: #F5F5F5;
  padding: 0 43px;
}
.section_cards .card:nth-child(1) {
  grid-area: card1;
  padding-top: 35px;
}
.section_cards .card:nth-child(2) {
  grid-area: card2;
  padding-bottom: 44px;
}
.section_cards .card:nth-child(3) {
  grid-area: card3;
  padding-bottom: 44px;
}
.section_cards .card:nth-child(3) h4 {
  margin-top: 40px;
}
.section_cards .card:nth-child(4) {
  grid-area: card4;
  flex-direction: row-reverse;
  padding-top: 44px;
  padding-bottom: 44px;
}
.section_cards .card h4 {
  color: #263238;
  font-size: 30px;
  font-weight: 600;
  line-height: 80px; /* 266.667% */
}
.section_cards .card p {
  color: #8F95A5;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 33px;
}

.about_parent {
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about_parent .about_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.about_parent .about_info h2 {
  color: #000;
  font-size: 48px;
  font-weight: 600;
  line-height: 80px; /* 166.667% */
  margin-bottom: 23px;
}
.about_parent .about_info p {
  color: #8F95A5;
  font-size: 20px;
  font-weight: 400;
  max-width: 630px;
}
.about_parent .about_info .about_boxes {
  margin-top: 20px;
  display: flex;
  gap: 100px;
}
.about_parent .about_info .about_boxes .about_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about_parent .about_info .about_boxes span {
  color: #2A3246;
  font-size: 48px;
  font-weight: 600;
  line-height: 80px; /* 166.667% */
}

@media screen and (max-width: 990px) {
  .about_parent {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .about_parent .about_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .about_parent .about_info h2 {
    color: #000;
    font-size: 36px;
    font-weight: 600;
    line-height: 80px; /* 166.667% */
    margin-bottom: 23px;
  }
  .about_parent .about_info p {
    font-size: 18px;
    max-width: 550px;
  }
  .about_parent .about_info .about_boxes {
    display: flex;
    gap: 80px;
  }
  .about_parent .about_info .about_boxes span {
    color: #2A3246;
    font-size: 30px;
    font-weight: 600;
    line-height: 50px; /* 166.667% */
  }
  .about_parent .about_img img {
    width: 350px;
  }
}
@media screen and (max-width: 770px) {
  .about_parent {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .about_parent .about_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .about_parent .about_info h2 {
    font-size: 30px;
    margin-bottom: 0;
  }
  .about_parent .about_info p {
    font-size: 14px;
    max-width: 550px;
  }
  .about_parent .about_info .about_boxes {
    gap: 80px;
  }
  .about_parent .about_info .about_boxes span {
    font-size: 22px;
  }
  .about_parent .about_img img {
    width: 290px;
  }
}
@media screen and (max-width: 630px) {
  .about_parent {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .about_parent .about_info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about_parent .about_info h2 {
    font-size: 24px;
    margin-bottom: 0;
  }
  .about_parent .about_info p {
    text-align: center;
  }
  .about_parent .about_info .about_boxes {
    gap: 80px;
  }
  .about_parent .about_info .about_boxes span {
    font-size: 22px;
  }
  .about_parent .about_img img {
    width: 290px;
  }
}
@media screen and (max-width: 400px) {
  .about_parent .about_info h2 {
    font-size: 24px;
    margin-bottom: 0;
  }
  .about_parent .about_info p {
    font-size: 14px;
    max-width: 350px;
  }
  .about_parent .about_boxes {
    margin-top: 20px;
    gap: 30px;
  }
  .about_parent .about_img img {
    width: 270px;
  }
}
.pricing_parent {
  display: flex;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
}
.pricing_parent .pricing_card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pricing_parent .pricing_card h4 {
  color: #263238;
  font-size: 30px;
  font-weight: 600;
  line-height: 48px; /* 160% */
}
.pricing_parent .pricing_card p {
  color: #8F95A5;
  font-size: 20px;
  font-weight: 400;
  margin: 23px 0 50px;
  max-width: 350px;
}
.pricing_parent .pricing_card button {
  border-radius: 5px;
  background: #EEE;
  display: flex;
  align-items: center;
  padding: 0 24px;
  gap: 8px;
}
.pricing_parent .pricing_card button span {
  color: #263238;
  font-size: 30px;
}

@media screen and (max-width: 980px) {
  .section_title h2 {
    font-size: 36px;
  }
}
@media screen and (max-width: 600px) {
  .section_title h2 {
    font-size: 30px;
  }
  .pricing_parent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  .pricing_parent .pricing_card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pricing_parent .pricing_card img {
    width: 190px;
  }
  .pricing_parent .pricing_card h4 {
    color: #263238;
    font-size: 20px;
    font-weight: 600;
    line-height: 48px; /* 160% */
  }
  .pricing_parent .pricing_card p {
    color: #8F95A5;
    font-size: 14px;
    font-weight: 400;
    margin: 23px 0 50px;
    max-width: 250px;
    text-align: center;
  }
  .pricing_parent .pricing_card button {
    border-radius: 5px;
    background: #EEE;
    display: flex;
    align-items: center;
    padding: 0 24px;
    gap: 8px;
  }
  .pricing_parent .pricing_card button span {
    color: #263238;
    font-size: 20px;
  }
}
.contact_parent {
  margin: 150px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact_parent .contact_info h2 {
  color: #000;
  font-size: 48px;
  font-weight: 600;
  line-height: 80px; /* 166.667% */
}
.contact_parent .contact_info p {
  color: #8F95A5;
  font-size: 20px;
  font-weight: 400;
  max-width: 700px;
  padding: 37px 0 52px;
}
.contact_parent .contact_info form {
  display: flex;
  gap: 6px;
}
.contact_parent .contact_info form input {
  color: #8F95A5;
  font-size: 16px;
  font-weight: 400;
  border-radius: 10px;
  border: 1px solid #8F95A5;
  padding: 0 100px 0 33px;
}

@media screen and (max-width: 1100px) {
  .contact_img img {
    width: 350px;
  }
}
@media screen and (max-width: 970px) {
  .contact_parent {
    margin: 150px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .contact_parent .contact_img img {
    width: 300px;
  }
  .contact_parent .contact_info h2 {
    color: #000;
    font-size: 30px;
  }
  .contact_parent .contact_info p {
    color: #8F95A5;
    font-size: 16px;
    font-weight: 400;
    max-width: 700px;
    padding: 27px 0 42px;
  }
  .contact_parent .contact_info form {
    display: flex;
    gap: 6px;
  }
  .contact_parent .contact_info form input {
    color: #8F95A5;
    font-size: 14px;
    font-weight: 400;
    border-radius: 10px;
    border: 1px solid #8F95A5;
    padding: 0 80px 0 13px;
  }
  .contact_parent .contact_info form button {
    padding: 15px 40px;
    font-size: 16px;
  }
}
@media screen and (max-width: 770px) {
  .contact_parent {
    margin: 150px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact_parent .contact_img img {
    width: 300px;
  }
  .contact_parent .contact_info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact_parent .contact_info h2 {
    color: #000;
    font-size: 30px;
  }
  .contact_parent .contact_info p {
    color: #8F95A5;
    font-size: 16px;
    font-weight: 400;
    max-width: 400px;
    text-align: center;
    padding: 15px 0 22px;
  }
  .contact_parent .contact_info form {
    display: flex;
    gap: 6px;
  }
  .contact_parent .contact_info form input {
    color: #8F95A5;
    font-size: 14px;
    font-weight: 400;
    border-radius: 10px;
    border: 1px solid #8F95A5;
    padding: 0 80px 0 13px;
  }
  .contact_parent .contact_info form button {
    padding: 15px 40px;
    font-size: 16px;
  }
}
@media screen and (max-width: 500px) {
  .contact_parent {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact_parent .contact_img img {
    width: 300px;
  }
  .contact_parent .contact_info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact_parent .contact_info h2 {
    color: #000;
    font-size: 24px;
  }
  .contact_parent .contact_info p {
    color: #8F95A5;
    font-size: 16px;
    font-weight: 400;
    max-width: 400px;
    text-align: center;
    padding: 15px 0 22px;
  }
  .contact_parent .contact_info form {
    display: flex;
    flex-direction: column;
  }
  .contact_parent .contact_info form input {
    color: #8F95A5;
    font-size: 14px;
    font-weight: 400;
    border-radius: 10px;
    border: 1px solid #8F95A5;
    padding: 15px 80px 15px 13px;
  }
  .contact_parent .contact_info form button {
    padding: 15px 40px;
    font-size: 14px;
  }
}
.footer_parent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 31px 0 60px;
}
.footer_parent p {
  color: #8F95A5;
  font-size: 24px;
  font-weight: 400;
}

@media screen and (max-width: 990px) {
  .footer_parent p {
    font-size: 18px;
  }
}
@media screen and (max-width: 770px) {
  .footer_parent {
    padding: 20px;
  }
  .footer_parent .logo img {
    width: 60px;
  }
  .footer_parent p {
    display: none;
  }
}
.btn {
  padding: 17px 63px;
  border-radius: 5px;
  background: #263238;
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
}

/*# sourceMappingURL=main.css.map */
