.about_parent{
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .about_info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        h2{
            color: #000;
            font-size: 48px;
            font-weight: 600;
            line-height: 80px; /* 166.667% */
            margin-bottom: 23px;
        }
        p{
            color: #8F95A5;
            font-size: 20px;
            font-weight: 400;
            max-width: 630px;
        }
        .about_boxes{
            margin-top: 20px;
            display: flex;
            gap: 100px;
            .about_box{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            span{
                color: #2A3246;
                font-size: 48px;
                font-weight: 600;
                line-height: 80px; /* 166.667% */
            }
        }
    }
}
@media screen and (max-width: 990px) {
    .about_parent{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .about_info{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            h2{
                color: #000;
                font-size: 36px;
                font-weight: 600;
                line-height: 80px; /* 166.667% */
                margin-bottom: 23px;
            }
            p{
                font-size: 18px;
                max-width: 550px;
            }
            .about_boxes{
                display: flex;
                gap: 80px;
                span{
                    color: #2A3246;
                    font-size: 30px;
                    font-weight: 600;
                    line-height: 50px; /* 166.667% */
                }
            }
        }
        .about_img{
            img{
                width: 350px;
            }
        }
    }  
}
@media screen and (max-width: 770px) {
    .about_parent{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .about_info{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            h2{
                font-size: 30px;
                margin-bottom: 0;
            }
            p{
                font-size: 14px;
                max-width: 550px;
            }
            .about_boxes{
                gap: 80px;
                span{
                    font-size: 22px;
                }
            }
        }
        .about_img{
            img{
                width: 290px;
            }
        }
    }    
}
@media screen and (max-width: 630px) {
    .about_parent{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        .about_info{
            display: flex;
            flex-direction: column;
            align-items: center;
            h2{
                font-size: 24px;
                margin-bottom: 0;
            }
            p{
                text-align: center;
            }
            .about_boxes{
                gap: 80px;
                span{
                    font-size: 22px;
                }
            }
        }
        .about_img{
            img{
                width: 290px;
            }
        }
    }    
}
@media screen and (max-width: 400px) {
    .about_parent{
        .about_info{
            h2{
                font-size: 24px;
                margin-bottom: 0;
            }
            p{
                font-size: 14px;
                max-width: 350px;
            }
        }
        .about_boxes{
            margin-top: 20px;
            gap: 30px;
            
        }
        .about_img{
            img{
                width: 270px;
            }
        }
    }    
}