.contact_parent{
    margin: 150px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .contact_info{
        h2{
            color: #000;
            font-size: 48px;
            font-weight: 600;
            line-height: 80px; /* 166.667% */
        }
        p{
            color: #8F95A5;
            font-size: 20px;
            font-weight: 400;
            max-width: 700px;
            padding: 37px 0 52px;
        }
        form{
            display: flex;
            gap: 6px;
            input{
                color: #8F95A5;
                font-size: 16px;
                font-weight: 400;
                border-radius: 10px;
                border: 1px solid #8F95A5;
                padding: 0 100px 0 33px;
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .contact_img img{
        width: 350px;
    }
}
@media screen and (max-width: 970px) {
    .contact_parent{
        margin: 150px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .contact_img img{
            width: 300px;
        }
        .contact_info{
            h2{
                color: #000;
                font-size: 30px;
            }
            p{
                color: #8F95A5;
                font-size: 16px;
                font-weight: 400;
                max-width: 700px;
                padding: 27px 0 42px;
            }
            form{
                display: flex;
                gap: 6px;
                input{
                    color: #8F95A5;
                    font-size: 14px;
                    font-weight: 400;
                    border-radius: 10px;
                    border: 1px solid #8F95A5;
                    padding: 0 80px 0 13px;
                }
                button{
                    padding: 15px 40px;
                    font-size: 16px;
                }
            }
        }
    }
}
@media screen and (max-width: 770px) {
    .contact_parent{
        margin: 150px 0;
        display: flex;
        flex-direction: column;
        align-items: center;    
        .contact_img img{
            width: 300px;
        }
        .contact_info{
            display: flex;
            flex-direction: column;
            align-items: center;
            h2{
                color: #000;
                font-size: 30px;
            }
            p{
                color: #8F95A5;
                font-size: 16px;
                font-weight: 400;
                max-width: 400px;
                text-align: center;
                padding: 15px 0 22px;
            }
            form{
                display: flex;
                gap: 6px;
                input{
                    color: #8F95A5;
                    font-size: 14px;
                    font-weight: 400;
                    border-radius: 10px;
                    border: 1px solid #8F95A5;
                    padding: 0 80px 0 13px;
                }
                button{
                    padding: 15px 40px;
                    font-size: 16px;
                }
            }
        }
    }
}
@media screen and (max-width: 500px) {
    .contact_parent{
        margin: 50px 0;
        display: flex;
        flex-direction: column;
        align-items: center;    
        .contact_img img{
            width: 300px;
        }
        .contact_info{
            display: flex;
            flex-direction: column;
            align-items: center;
            h2{
                color: #000;
                font-size: 24px;
            }
            p{
                color: #8F95A5;
                font-size: 16px;
                font-weight: 400;
                max-width: 400px;
                text-align: center;
                padding: 15px 0 22px;
            }
            form{
                display: flex;
                flex-direction: column;
                input{
                    color: #8F95A5;
                    font-size: 14px;
                    font-weight: 400;
                    border-radius: 10px;
                    border: 1px solid #8F95A5;
                    padding: 15px 80px 15px 13px;
                }
                button{
                    padding: 15px 40px;
                    font-size: 14px;
                }
            }
        }
    }
}