.section_title{
    h2{
        color: #000;
        font-size: 48px;
        font-weight: 600;
        line-height: 80px; /* 166.667% */
        text-align: center;
        margin: 103px 0 96px;
    }
}
.section_cards{
    margin-bottom: 100px;
    display: grid;
    grid-template-areas: 
    "card1 card2 card3"
    "card1 card4 card4";
    gap: 18px;
    flex-wrap: wrap;
    .card{
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 10px;
        background: #F5F5F5;
        padding: 0 43px;
        &:nth-child(1){
            
            grid-area: card1;
            padding-top: 35px;
        }
        &:nth-child(2){
            grid-area: card2;
            padding-bottom: 44px;
        }
        &:nth-child(3){
            grid-area: card3;
            padding-bottom: 44px;
            h4{
                margin-top: 40px;
            }
        }
        &:nth-child(4){
            grid-area: card4;
            flex-direction: row-reverse;
            padding-top: 44px;
            padding-bottom: 44px;
        }

        h4{
            color: #263238;
            font-size: 30px;
            font-weight: 600;
            line-height: 80px; /* 266.667% */
        }
        p{
            color: #8F95A5;
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 33px;
            
        }
    }
   
}