.footer_parent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 31px 0 60px;
    p{
        color: #8F95A5;
        font-size: 24px;
        font-weight: 400;
    }
}
@media screen and (max-width: 990px) {
    .footer_parent{
        p{
            font-size: 18px;
        }
    }
}
@media screen and (max-width: 770px) {
    
    .footer_parent{
        padding: 20px;
        .logo{
            img{
                width: 60px;
            }
        }
        p{
            display: none;
        }
    }

}