.hero_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header_info{
        h1{
            color: #000;
            font-size: 64px;
            font-weight: 600;
            line-height: 80px; /* 125% */
            max-width: 380px;
        }
        p{
            color: #8F95A5;
            font-size: 24px;
            font-weight: 400;
            max-width: 550px;
            padding: 40px 0 61px;
        }
        button{
            padding: 32px 117px;
            font-size: 36px;
            border-radius: 15px;
        }
    }
}

@media screen and (max-width: 990px) {
    .hero_header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header_info{
            h1{
                font-size: 48px;
                line-height: 64px;
            }
            p{
                font-size: 20px;
                font-weight: 400;
                max-width: 550px;
                padding: 27px 0 33px;
            }
            button{
                padding: 22px 58px;
                font-size: 22px;
            }
        }
        .header_img{
            img{
                width: 460px;
            }
        }
    } 
    
}
@media screen and (max-width: 770px) {
    .hero_header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header_info{
            h1{
                font-size: 36px;
                line-height: 45px;
            }
            p{
                font-size: 16px;
                font-weight: 400;
                max-width: 550px;
                padding: 25px 0 32px;
            }
            button{
                padding: 19px 48px;
                font-size: 18px;
            }
        }
        .header_img{
            img{
                width: 350px;
            }
        }
    } 
}
@media screen and (max-width: 630px) {
    .hero_header{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        .header_info{
            display: flex;
            flex-direction: column;
            align-items: center;
            h1{
                font-size: 34px;
                line-height: 45px;
                text-align: center;
                max-width: 500px;
            }
            p{
                font-size: 16px;
                font-weight: 400;
                max-width: 550px;
                padding: 25px 0 32px;
                text-align: center;
            }
            button{
                padding: 24px 101px;
                font-size: 18px;
            }
        }
        .header_img{
            img{
                width: 420px;
            }
        }
    } 
}
@media screen and (max-width: 400px) {
    .hero_header{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        .header_info{
            display: flex;
            flex-direction: column;
            align-items: center;
            h1{
                font-size: 24px;
                line-height: 36px; 
            }
            p{
                font-size: 16px;
                font-weight: 400;
                max-width: 550px;
                padding: 20px 0 32px;
                text-align: center;
            }
            button{
                padding: 18px 101px;
                font-size: 14px;
            }
        }
        .header_img{
            img{
                width: 300px;
            }
        }
    } 
}