.nav_parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 55px 0;
    
    ul{
        display: flex;
        gap: 25px;
        .navbar_link{
            color: $primary;         
            font-size: 20px;
            font-weight: 500;
        }
    }
    .navbar_btn{
        color: #000;
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        border-radius: 5px;
        border: 2px solid #263238;
        padding: 17px 57px;
    }
}
.none{
    font-size: 30px;
    color: #263238;
    display: none;
}
@media screen and (max-width: 990px) {
    .nav_parent{
        padding-top: 25px;
        ul{
            display: flex;
            gap: 25px;
            .navbar_link{       
                font-size: 16px;
            }
        }
        .navbar_btn{
            font-size: 18px;
            padding: 12px 40px;
        }
    } 
}
@media screen and (max-width: 770px) {
    .nav_parent{
        padding-top: 25px;
        ul{
            display: none;
            
        }
        .block{
            display: none;
        }
        .none{
            display: block;
        }
    } 
}
