
.pricing_parent{
    display: flex;
    align-items: center;
    // justify-content: space-between;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;

    .pricing_card{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        h4{
            color: #263238;
            font-size: 30px;
            font-weight: 600;
            line-height: 48px; /* 160% */
        }
        p{
            color: #8F95A5;
            font-size: 20px;
            font-weight: 400;
            margin: 23px 0 50px;
            max-width: 350px;
        }
        button{
            span{
                color: #263238;
                font-size: 30px;
            }
            border-radius: 5px;
            background: #EEE;
            display: flex;
            align-items: center;
            padding: 0 24px;
            gap: 8px;
        }
    }
}

@media screen and (max-width:980px) {
    .section_title{
        h2{
            font-size: 36px;
        }
    }
    
    
}
@media screen and (max-width:600px) {
    .section_title{
        h2{
            font-size: 30px;
        }
    }
    
    .pricing_parent{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
    
        .pricing_card{
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
                width: 190px;
            }
            h4{
                color: #263238;
                font-size: 20px;
                font-weight: 600;
                line-height: 48px; /* 160% */
            }
            p{
                color: #8F95A5;
                font-size: 14px;
                font-weight: 400;
                margin: 23px 0 50px;
                max-width: 250px;
                text-align: center;
            }
            button{
                span{
                    color: #263238;
                    font-size: 20px;
                }
                border-radius: 5px;
                background: #EEE;
                display: flex;
                align-items: center;
                padding: 0 24px;
                gap: 8px;
            }
        }
    }
}